<html lang="en">
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
        .border-bottom-white-smoke {
              border-bottom: 1px solid #f0f0f0;}
        </style>

<h1 class="text-center text-success">Maruti Bikes</h1>
{% for k in mylist1 %}
          <div class="border-bottom-white-smoke" align="center">
          <div class="gallery">
              <a target="_blank" href="{{k.0}}">Car Name:<b class="text-primary">{{k.2}}</b><br>
                <img src="{{k.3}}" alt="Cinque Terre" >
              </a><br>
              <i> price:<b>{{k.1}}</b> </i>
            </div>
          </div>
          {% endfor %}

    
</html>